<!-- your html code here -->
<h1><bold>Contact</bold></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maiores, ratione inventore quibusdam quis consequuntur sunt quo sint dolores optio. Amet quidem ab voluptatibus. Dolores consectetur a quia est non.</p>
            <form class="bg-danger bg-opacity-10 p-3 container w-75 mb-5 border border-danger-subtle">
                <div class="mb-3 d-flex justify-content-end">
                  <label for="exampleInputEmail1" class="form-label mx-3">Your e-mail</label>
                  <label for="exampleInputEmail1" class="form-label mx-3 fw-bold">Your e-mail</label>
                  <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" class="w-75">
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <label for="Textarea1" class="form-label mx-3">Your message</label>
                    <label for="Textarea1" class="form-label mx-3 fw-bold">Your message</label>
                    <textarea id="Textarea1" rows="3" placeholder="Please enter your message here..." class="w-75"></textarea>
                </div>
                <div class="d-flex justify-content-end">